= form_for @recipe do |f|
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :cuisine
    = f.select :cuisine, Recipe.cuisines.keys, {}, class: 'form-control'
  .form-group
    = f.label :planning_to_cook_on
    = f.datetime_field :planning_to_cook_on, class: 'form-control'
  .form-group
    = f.label :tried_before
    = f.check_box :tried_before
  .form-group
    = f.label :ingrediants
    = f.fields_for :recipe_ingrediants do |b|
      = render partial: 'recipe_ingrediants/form', locals: {f: b}
  .form-group
    = f.label :instructions
    = f.text_area :instructions, class: 'form-control'
  .actions
    = f.submit 'Save'
