%tr.recipe
  %td= recipe.title
  %td= recipe.cuisine
  %td= recipe.planning_to_cook_on
  %td= recipe.tried_before ? 'Yes' : 'No'
  %td= recipe.instructions.html_safe
  %td
    %ul= render recipe.recipe_ingrediants
  %td= link_to 'Edit', edit_recipe_path(recipe)
  %td= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }
